In [1]:
%%writefile zoo.py

def hours():
    print('Open 9-5 daily.')

Overwriting zoo.py

In [2]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily.

In [3]:
import sqlite3
con = sqlite3.connect("books.db")
cur = con.cursor()
cur.execute("CREATE TABLE books(title TEXT, author TEXT, year INTEGER)")

In [4]:
cur.execute("""
    INSERT INTO books (title, author, year) VALUES
        ("The Weirdstone of Brisingamen","Alan Garner",1960),
        ("Perdido Street Station","China Mi√©ville",2000),
        ("Thud!","Terry Pratchett",2005),
        ("The Spellman Files","Lisa Lutz",2007),
        ("Small Gods","Terry Pratchett",1992)
""")
con.commit()

In [5]:
import sqlalchemy as db

engine = db.create_engine('sqlite:///books.db')
connection = engine.connect()
metadata = db.MetaData()
books = db.Table('books', metadata, autoload=True, autoload_with=engine)

query = db.select([books.columns.title]).order_by(db.desc(books.columns.title))
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:5]

[('Thud!',),
 ('The Weirdstone of Brisingamen',),
 ('The Spellman Files',),
 ('Small Gods',),
 ('Perdido Street Station',)]